@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
  --primary-color: #2a2b2a;
  --secondary-color: #9cebb3;
  --fontFamily: 'Bellefair', sans-serif;
}

body {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  font-family: var(--fontFamily);
}