@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --primary-color: #2a2b2b;
  --secondary-color: #112353;
  --fontFamily: 'Questrial', sans-serif;
}

body {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  font-family: var(--fontFamily);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.svg-chart {
  margin: auto;
  background: #fff;
  border-radius: 17px;
  margin: 3rem 0;
  padding: 2rem;
  position: relative;
}

#tooltip {
  visibility: hidden; 
  background: rgba(0,0,0,0.8);
  padding: 0.8em 1.4em;
  border-radius: 12px;
  position: absolute;
}